.genres {
  display: flex;
  margin: 5px 15px;
  align-items: center;
  overflow-x: scroll;
}
.genres::-webkit-scrollbar {
  display: none;
}
.genre {
  margin-right: 0.8rem;
  padding: 5px 20px;
  background-color: #000;
  color: #fff;
  font-size: 18.5px;
  border-radius: 20px;
  word-wrap: normal;
  word-break: keep-all;
}
.title {
  font-size: 1.6rem;
  margin-left: 15px;
  margin-bottom: 0;
}
