.genres {
  margin: 5px 15px;
}
.genres__list {
  display: flex;
  align-items: center;
  list-style: none;
  overflow-x: scroll;
}

.genres__list::-webkit-scrollbar {
  display: none;
}
.genre {
  margin-right: 0.8rem;
  padding: 5px 20px;
  background-color: #000;
  color: #fff;
  font-size: 18.5px;
  border-radius: 20px;
  word-wrap: normal;
  word-break: keep-all;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.genre:hover {
  background-color: #2b2929;
}
.genre:active {
  background-color: #ff0000;
}
.title {
  font-size: 1.6rem;
  margin-left: 15px;
  margin-bottom: 0;
}
