.movie {
  margin: 10px 15px;
  overflow: none;
}
.movie__content {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  overflow-x: scroll;
}
.movie__content::-webkit-scrollbar {
  display: none;
}
