.app {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
