.poster {
  object-fit: contain;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  margin-right: 15px;
  transition: 0.5s ease-in-out;
}
.poster:hover {
  transform: scale(1.05);
}
.backdrop {
  width: 100%;
  object-fit: cover;
  width: 320px;
  height: 200px;
  border-radius: 20px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}
.backdrop:hover {
  transform: scale(1.05);
}
.movie__title {
  padding-left: 15px;
}
.card__content {
  margin: 0;
  padding: 0;
}
